**I. Hàm nhập dữ liệu**


*1.  Hàm input()*


>  Để khởi tạo giá trị ban đầu cho biến, ta có thể khởi tạo bằng cách gán giá trị hoặc dùng lệnh nhập: **<tên biến> = input(<"Tiêu đề mong muốn">)**


> Tên biến được đặt theo quy tắc **identifier**. Tên biến chỉ cho phép chứa ký tự chữ, số, dấu gạch dưới.Tên biến phải bắt đầu là chữ cái và nên dễ nhớ.


> Tên biến không được trùng với từ khóa

    

*2.   Lưu ý khi dùng hàm nhập input()*
> Python tự convert KDL khi nhập. Tuy nhiên, nếu muốn giới hạn kdl khi dùng hàm input, có thể thêm kdl trước input và xử lý cùng exception



> **<tên biến> = <KDL>(input(<"Tiêu đề mong muốn">))**

In [7]:
#Example
x = input('NHập x = ')
y = float(input('Nhập số thực y = '))
z = int(input('Nhập số nguyên z = '))
print('---------------------------')
print(type(x), x)
print(type(y), y)
print(type(z), z)

NHập x = SKKU
Nhập số thực y = 1.2222
Nhập số nguyên z = 1
---------------------------
<class 'str'> SKKU
<class 'float'> 1.2222
<class 'int'> 1

**II. Gán giá trị **


*1.   Gán giá trị*
> Để khởi tạo giá trị ban đầu cho biến, ngoài cách dùng hàm nhập, có thể dùng cách gán giá trị (hash code)
> Cú pháp 

>  **tên biến = value**

>Gán tuần tự 

var1 = value1

var2 = value2

.......................

>Hoặc gán liên tục 

var1, var2,... = value1, value, .....

In [8]:
#Example1 - Gán biển 
x1 = 1
x2 = 2
x3, x4 = 1.222, "Nuoi_be_mo"

print(type(x1), x1)
print(type(x2), x2)
print(type(x3), x3)
print(type(x4), x4)

<class 'int'> 1
<class 'int'> 2
<class 'float'> 1.222
<class 'str'> Nuoi_be_mo

*2.Hàm swap*
>Hàm swap 

>Python hỗ trợ swap trực tiếp mà không cần viết hàm

var1, var2 = value1, value2

var1, var2 = var2, var1
>Ham swap có tác dụng đổi giá trị các biến

In [20]:
#Example
x1, x2 = 'Python', 'C++'
print('x1_first: ', x1,'   ,x2_first: ', x2)
x1, x2 = x2, x1
print('x1_last:  ', x1,'      ,x2_last : ', x2)

x1_first:  Python    ,x2_first:  C++
x1_last:   C++       ,x2_last :  Python

In [31]:
#Example
x1, x2, x3 = 'c', 'c++', 'Python'
print(' x1_first:',x1, '\n', 'x2_first:', x2, '\n','x3_first:', x3, '\n')
print('------------------------------------------------------------------')
x1, x2, x3 = x3, x1, x2
print(' x1_last: ', x1, '\n', 'x2_last: ', x2, '\n','x3_last: ', x3, '\n')

 x1_first: c
 x2_first: c++
 x3_first: Python

------------------------------------------------------------------
 x1_last:  Python
 x2_last:  c
 x3_last:  c++

*3. Ép kiểu trong Python*


> Python sẽ tự convert KDL của biến theo giá trị của nó



>Trong trường hợp, muốn đổi kiểu dữ liệu của giá trị ban đầu sang kiểu dữ liệu khác để phù hợp với bài toán và thuận tiện cho những bước tiếp theo. Ta có thể ép kiểu

> **var = kdl muốn chuyển(value)**

>Một số KDL phổ biến :

1.int: kiểu số nguyên

2.float:số thực

3.bool: logic

4.str: chuỗi

In [32]:
#Example
x1 = 12222
x1 = str(1222)
print(type(str), str)

<class 'type'> <class 'str'>

In [33]:
#Example
s1 = bool(1>2)
s2 = float (123)
s3 = 123

print(type(s1), s1)
print(type(s2), s2)
print(type(s3), s3)

<class 'bool'> False
<class 'float'> 123.0
<class 'int'> 123